ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455 ;
    background-color: #FFFFFF;

    }

/*<!--PAGE HEADER-->*/
.list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}

.logotype-span {
    color: #2E2F42;
}

.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.menu-link {
   color: var(--NAVY-BLUE, #2e2f42);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.32px; 
}
.mtnu-link:hover,
.menu-link:focus {
    color: #404bbf;

}
.address {
    font-style: normal;
}

.menu-contakt-link {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px; 

}

.page-contacts :focus {
    background-color: #f3f4f8;

}
.main-head {
    text-align: center;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    color: #404bbf;
    background-color: #404bbf;
    cursor: pointer;
}


.contakt-link-link,
.contakt-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #404bbf;
    cursor: pointer;
}


/*<!-- HERO SECTION-->*/

.main-head {
    background-color: #2e2f42;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  
.main-head:hover,
.main-action:focus {
    color: #404bbf;
}

/*<!--OUR BENEFITS-->*/

.main-works {
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42; 
}
.main-head {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.made-menu-item {
    background-color: #F4F4FD;  
}

.made-menu-item-name {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.made-menu-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #2e2f42;
}

/*<!--INGREDIENTS SECTION-->*/
.workers-head {
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.workers-names {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.workers-person {
    background-color: #F4F4FD;
    
}

.workers-positions {
    line-height: 1.5;
    text-align: center;
}

/*<!--PAGE PORTFOLIO-->*/
.portfolio {
    background-color: #F4F4FD;
}

.portfolio-images-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;

}

.portfolio-main-title {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    
}

/*<!--PAGE FOOTER-->*/
.footer-span {
   color:  #4d5ae5;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #2e2f42;
}

.footer-paragraph {
    background-color: #2e2f42;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
