.list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}

.button {
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #F4F4FD;
background-color: #4d5ae5;
    cursor: pointer;
}

body {
    font-family: "Roboto" sans-serif;
    }

/*<!--PAGE HEADER-->*/
.list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}

button {
    cersor: pointer;
}

.logotype-span {
    color: #2E2F42;
}

.logotype {
    font-family: "Raleway" sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    color: #404bbf;
}

.address {
    font-style: normal;

}

.page-contacts :focus {
    background-color: #f3f4f8;

}

/*<!-- HERO SECTION-->*/
.main-head {
    background-color: #262649;
    color: #FFFFFF;
  }
  
.order-service {
    background-color: #1f28aa;   
}

/*<!--OUR BENEFITS-->*/

.main-works {
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42; 
}
.main-head {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.made-menu-item-name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.made-menu-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #434455;
}

/*<!--INGREDIENTS SECTION-->*/
.workers-head {
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.workers-names {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.workers-person {
    background-color: #F4F4FD;
    
}

.workers-positions {
    line-height: 1.5;
    text-align: center;
}

.portfolio {
    background-color: #F4F4FD;
}

.portfolio-images-title {
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.portfolio-main-title {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    
}

/*<!--PAGE FOOTER-->*/
.footer-paragraf {
    color: var(--light-color-cloud, #0d0d0e);
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-span {
    color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02px;
    text-transform: capitalize;
    color: #2E2F42;
}

.footer-paragraf {
    background-color: #2e2f42;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}